{% extends 'base.html' %}

{% block content %}
<div class="order-history">
    <h1 class="order-history__header">История заказов</h1>
    <div class="order-history__table-container">
        <table class="order-history__table">
            <thead>
            <tr>
                <th class="order-history__column-header">Услуга</th>
                <th class="order-history__column-header">Мастер</th>
                <th class="order-history__column-header">Время предоставления услуги</th>
                <th class="order-history__column-header">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
            <tr class="order-history__row">
                <td class="order-history__cell">{{ booking.service.name }}</td>
                <td class="order-history__cell">{{ booking.service_provider.user.username }}</td>
                <td class="order-history__cell">{{ booking.appointment_datetime|date:"Y-m-d H:i" }}</td>
                <td class="order-history__cell">
                    <div class="order-history__actions-container">
                        {% if booking.appointment_datetime > now %}
                        <a href="{% url 'user_booking_update' booking.id %}"
                           class="order-history__link order-history__link--edit">Изменить</a>
                        <a href="#" class="order-history__link order-history__link--delete" data-id="{{ booking.id }}"
                           onclick="confirmDelete(event, this)">Удалить заказ</a>
                        {% else %}
                        <a>Нельзя изменить или удалить данный заказ</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr class="order-history__row">
                <td colspan="4" class="order-history__cell">Нет заказов.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="../static/js/profile/user_booking.js"></script>
{% endblock %}
