{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="user-profile-container">
    <h1>Добро пожаловать в личный кабинет</h1>
    <div class="profile-section">
        <div class="profile-row">
            <div class="profile-column">
                <span>Ваш Email: </span>
                <span id="email-value">{{ user.email }}</span>
            </div>
            <div class="profile-column">
                <button onclick="toggleEdit('email')">Изменить</button>
                <input type="email" id="email-input" value="{{ user.email }}" style="display: inline;">
                <button onclick="save('email')" style="display:none;">Сохранить</button>
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-column">
                <span>Ваш Телефон: </span>
                <span id="phone-value">{{ user.customer.phone }}</span>
            </div>
            <div class="profile-column">
                <button onclick="toggleEdit('phone')">Изменить</button>
                <input type="text" id="phone-input" value="{{ user.customer.phone }}" style="display:none;">
                <button onclick="save('phone')" style="display:none;">Сохранить</button>
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-column">
                <span>Дата рождения: </span>
                <span>{{ user.customer.birth_date|date:"j F Y г." }}</span>
            </div>
            <div class="profile-column">
                <button onclick="togglePasswordChange()">Изменить пароль</button>
                <div id="password-change" style="display:none;">
                    <input type="password" id="old-password" placeholder="Старый пароль">
                    <input type="password" id="new-password" placeholder="Новый пароль">
                    <input type="password" id="confirm-password" placeholder="Подтвердите пароль">
                    <button onclick="changePassword()">Сохранить пароль</button>
                </div>
            </div>
        </div>
        <div class="profile-button-row">
            <a href="{% url 'list_booking' %}" class="link-as-button booking-button">Просмотреть историю бронирований</a>
        </div>
        <div class="profile-button-row">
            <button onclick="deactivateProfile()" class="link-as-button delete-profile-button">Удалить профиль</button>
        </div>
    </div>
</div>
<!-- Hidden input to store URLs for JavaScript -->
<div id="data-container"
     data-update-profile-url="{% url 'update_profile' %}"
     data-change-password-url="{% url 'change_password' %}"
     data-deactivate-profile-url="{% url 'deactivate_profile' %}">
</div>

<script src="../static/js/profile/user_profile.js"></script>
{% endblock %}
