/* Основные стили для всего тела документа */
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #333;
    color: #ccc;
}
footer {
    color: gold; /* Change text color to gold */
    text-align: center; /* Center the text */
    position: absolute; /* Positioning it at the bottom */
    bottom: 0;
    width: 100%;
}
main{
    padding:200px;
}
/* Стили для контейнера навигации */
.nav-container {
    height: 100px; /* Изменено с 300px на fit-content */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Изменено с flex-end на center */
    background-color: #111111;
    z-index: 1000;
    box-sizing: border-box;
}
.nav-link img {
    width: 100%; /* Fill the entire width of li */
    height: 100px; /* Maintain aspect ratio */
    object-fit: contain;
}
/* Стили для списка в навигационном контейнере */
.nav-container {
    font-size: 24px; /* Increase font size */
    text-align: center; /* Center text */
}

.nav-container ul {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    list-style-type: none; /* Remove list styles */
    margin: 0;
    padding: 0;
}

/* Стили для ссылок, кнопок и форм в навигационном контейнере */
.nav-container .nav-link, .nav-container .nav-button, .nav-container form {
    text-decoration: none;
    color: gold;
    margin-left: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: inline-flex; /* Ensures form is inline and items are aligned */
    align-items: center; /* Center align the button vertically */
}

/* Стили для ссылок и форм при наведении */
.nav-container .nav-link:hover, .nav-container .nav-button:hover, .nav-container form:hover {
    color: white;
    background-color: transparent; /* Background does not change on hover */
}

/* Центрирование кнопок в формах */
.nav-container form {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    margin: 0 20px; /* Горизонтальные отступы, как у других ссылок */
    padding: 5px 10px; /* Отступы внутри, как у других ссылок */
    width: auto; /* Автоматическая ширина по содержимому */
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around; /* Distributes space evenly between items */
}

.navlist li {
    flex-grow: 1; /* Allows each li to grow and fill the space */
    text-align: center; /* Centers the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
    max-height: 100px; /* Maximum height of the image */
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Base styling for the services table */
.services table {
    width: 80%; /* Set the width of the table */
    margin: 20px auto; /* Center the table horizontally and add some margin for spacing */
    border-collapse: collapse; /* Collapse borders between table cells */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add a subtle shadow to make the table pop out */
    border: 1px solid gold; /* Golden border for the table */
}

.services td, .services th {
    border: 1px solid gold; /* Light grey border for each cell */
    padding: 8px; /* Padding inside cells for better text alignment */
    text-align: left; /* Align text to the left */
}

.services h2 {
    color: gold; /* Dark grey color for headings */
    font-size: 24px; /* Larger font size for service name */
}

.services p {
    color: #ссс; /* Medium grey color for paragraph text */
    margin: 5px 0; /* Add top and bottom margin to separate paragraphs from each other */
}

/* Styling for forms within the table */
.services form {
    display: block; /* Ensure the form takes the full cell space */
}

.services input, .services select, .services button {
    width: 100%; /* Full width for inputs, selects, and buttons */
    padding: 10px; /* Padding for better touch interaction */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.services button {
    background-color: gold; /* Green background for the button */
    color: black; /* White text color */
    border: none; /* No border for a cleaner look */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.services button:hover {
    background-color: #d4af37; /* Darker green when hovered */
}

/* Error message styling */
.services p[style*="color: red;"] {
    font-weight: bold; /* Make error messages bold */
    color: #ff0000; /* Bright red color for visibility */
}


/* Стили для центрированной формы с таблицей на страницы регистрации*/
.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container table {
    border-collapse: collapse;
    margin: auto;
    width: 100%; /* Adjust width as needed */
}

.signup-container td {
    padding: 8px;
    text-align: left;
}

.signup-container td:first-child {
    text-align: right;
    padding-right: 20px;
}

.signup-container .register-button {
    width: 100%;
    padding: 10px 0;
}
/* Стили для центрированной формы с таблицей на страницы регистрации*/

/* Стили для страницы логина*/
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h2 {
    margin-bottom: 20px; /* Добавляем отступ между заголовком и формой */
}

.login-container table {
    width: 300px; /* Устанавливаем фиксированную ширину для таблицы */
    border-collapse: collapse;
}

.login-container td {
    padding: 8px;
}

.login-container .login-button {
    width: 100%; /* Ширина кнопки, чтобы она занимала всю ширину таблицы */
    padding: 10px 0; /* Добавляем паддинг для удобства нажатия */
}

/* Стили для страницы логина*/


/* Основные стили для контейнера профиля пользователя */
.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: #ccc;
    background-color: #333;
}

/* Стили для каждого раздела в профиле */
.profile-section {
    width: 50%;
    margin: 20px 0;
    padding: 20px;
    background-color: #161618;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Space between rows */
}

.profile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; /* Each column takes half the width of the row */
}

.profile-input, .edit-button, .save-button {
    display: none; /* Initially hidden, shown by JavaScript */
}

.profile-section button, .profile-input, input[type="email"], input[type="text"], input[type="password"] {
    width: auto; /* Adjust width as per content */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: gold;
    color: #333;
    border-radius: 5px;
}

.profile-section button:hover {
    background-color: #d4af37;
}

.edit-button, .save-button, .profile-button, input[type="email"], input[type="text"], input[type="password"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover, .save-button:hover, .profile-button:hover, input[type="email"]:hover, input[type="text"]:hover, input[type="password"]:hover {
    background-color: #d4af37;
}

.profile-button-row {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    width: 100%; /* Full width to contain the button */
    margin: 10px 0; /* Space above and below the row */
}

.profile-button-row .link-as-button, .profile-button-row .delete-profile-button {
    display: inline-block; /* Allows the width to be set */
    width: 50%; /* Set the width to 50% of its container */
    background-color: #007bff; /* Initial blue background for both */
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.profile-button-row .link-as-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.profile-button-row .delete-profile-button {
    background-color: #ff0000; /* Red background */
}

.profile-button-row .delete-profile-button:hover {
    background-color: #8b0000; /* Darker red on hover */
}

/* Base block for order history */
.order-history {
    width: 50%;
    margin: auto;
    }

/* Header within the order history block */
.order-history__header {
    text-align: center;
}

/* Table container within the order history block */
.order-history__table-container {
    margin: 20px;
    background-color: transparent;
    border-radius: 8px;
}

/* Table styling within the order history block */
.order-history__table {
    width: 80%; /* or your desired width */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

/* Column headers within the table */
.order-history__column-header {
    padding: 10px;
    text-align: center;
}

/* Rows and cells within the table */
.order-history__row {}
.order-history__cell {
    height: 30px;
    padding: 3px;
    border: 1px solid #ddd;
}
/* Container for the action links */
.order-history__actions-container {
    display: flex;
    width: 100%;}

/* Ensure each link takes up half the container width */
.order-history__link {
    flex: 1; /* Flex grow to fill the space */
    text-align: center; /* Center the text inside the link */
}
/* Link styling within the table cells */
.order-history__link {
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

/* Modifier for edit link */
.order-history__link--edit {

    background-color: #007bff; /* Initial blue background for both */
}
.order-history__link--edit:hover{
    background-color: #0056b3; /* Darker blue on hover */
}

/* Modifier for delete link */
.order-history__link--delete {
    background-color: #ff0000; /* Red background */
}

.order-history__link--delete:hover{
    background-color: #8b0000; /* Darker red on hover */
}

.user-booking-update {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        background-color: transparent; /* Transparent background */
        border-radius: 5px;
    }

    .user-booking-update h1 {
        color: #ссс;
        text-align: center;
    }

    .user-booking-update form {
        display: flex; /* Use flexbox to align form elements horizontally */
        flex-direction: row; /* Align elements in a row */
        justify-content: center; /* Center the elements horizontally */
        align-items: center; /* Align the elements vertically */
        gap: 10px; /* Space between form elements */
    }

    .user-booking-update form select {
        width: 200px; /* Fixed width for all select elements */
        padding: 10px; /* Padding for easier clicking */
        text-overflow: ellipsis; /* Prevent text from overflowing */
    }

    .user-booking-update button {
        background-color: #ffdd57; /* Yellow background */
        color: black; /* Black text for better contrast */
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .user-booking-update button:hover {
        background-color: #ccaa46; /* Darker yellow on hover */
    }
