/* Основные стили для всего тела документа */
body {
    margin: 0; /* Убираем отступы */
    font-family: 'Fira Sans', sans-serif; /* Устанавливаем шрифт для текста */
    background-color: #333; /* Цвет фона темно-серый */
    color: #ccc; /* Цвет текста светло-серый */
}

/* Стили для нижнего колонтитула */
footer {
    color: gold; /* Цвет текста золотой */
    text-align: center; /* Выравнивание текста по центру */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Прижимаем к нижней части */
    width: 100%; /* Ширина на всю доступную область */
}

/* Стили для основного содержимого */
main {
    padding: 200px; /* Внутренний отступ */
}

/* Стили для контейнера навигации */
.nav-container {
    height: 100px; /* Высота контейнера */
    width: 100%; /* Ширина на всю доступную область */
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Прижимаем к верхней части */
    left: 0; /* Прижимаем к левой части */
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: center; /* Центрирование элементов по горизонтали */
    background-color: #111111; /* Цвет фона темно-черный */
    z-index: 1000; /* Устанавливаем z-index для наложения элементов */
    box-sizing: border-box; /* Размеры включают padding и border */
    font-size: 24px; /* Размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для изображений в ссылках навигации */
.nav-link img {
    width: 100%; /* Ширина изображения на всю доступную область */
    height: 100px; /* Высота изображения фиксированная */
    object-fit: contain; /* Сохраняем пропорции изображения */
}

/* Стили для списка в навигационном контейнере */
.nav-container ul {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: center; /* Центрирование элементов по горизонтали */
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

/* Стили для ссылок, кнопок и форм в навигационном контейнере */
.nav-container .nav-link, .nav-container .nav-button, .nav-container form {
    text-decoration: none; /* Убираем подчеркивание */
    color: gold; /* Цвет текста золотой */
    margin-left: 20px; /* Отступ слева */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 24px; /* Размер шрифта */
    display: inline-flex; /* Вывод элементов в одну строку с возможностью выравнивания */
    align-items: center; /* Центрирование элементов по вертикали */
}

/* Стили для ссылок и форм при наведении */
.nav-container .nav-link:hover, .nav-container .nav-button:hover, .nav-container form:hover {
    color: white; /* Цвет текста белый при наведении */
    background-color: transparent; /* Фон остается прозрачным */
}

/* Центрирование кнопок в формах */
.nav-container form {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: center; /* Центрирование элементов по горизонтали */
    margin: 0 20px; /* Горизонтальные отступы */
    padding: 5px 10px; /* Внутренние отступы */
    width: auto; /* Ширина по содержимому */
}

/* Стили для списка навигации */
.navlist {
    display: flex; /* Используем flexbox для выравнивания элементов */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    width: 100%; /* Ширина на всю доступную область */
    justify-content: space-around; /* Равномерное распределение элементов с промежутками */
}

/* Стили для элементов списка в навигации */
.navlist li {
    flex-grow: 1; /* Элементы растягиваются для заполнения доступного пространства */
    text-align: center; /* Выравнивание текста по центру */
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center; /* Центрирование элементов по вертикали */
}

/* Стили для изображений в навигации */
.nav-img {
    width: 100%; /* Ширина изображения на всю доступную область */
    height: auto; /* Высота автоматическая, сохраняется пропорция */
    max-height: 100px; /* Максимальная высота изображения */
}

/* Стили для содержимого заголовка */
.header-content {
    display: flex; /* Используем flexbox для выравнивания элементов */
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: center; /* Центрирование элементов по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns children to the bottom */
}

/* Основные стили для таблицы услуг */
.services table {
    width: 80%; /* Ширина таблицы */
    margin: 20px auto; /* Центрирование таблицы с вертикальными отступами */
    border-collapse: collapse; /* Стиль границы, границы ячеек объединены */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для таблицы */
    border: 1px solid gold; /* Граница золотого цвета */
}

/* Стили для ячеек и заголовков в таблице услуг */
.services td, .services th {
    position: relative;
    border: 1px solid gold; /* Граница золотого цвета */
    padding: 8px; /* Внутренние отступы в ячейках */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Стили для заголовков в блоке услуг */
.services h2 {
    color: gold; /* Цвет текста золотой */
    font-size: 24px; /* Размер шрифта */
}

/* Стили для параграфов в блоке услуг */
.services p {
    color: #ссс; /* Цвет текста серый */
    margin: 5px 0; /* Отступы сверху и снизу для разделения параграфов */
}

/* Стили для форм внутри таблицы услуг */
.services form {
    display: block; /* Форма занимает всю ширину ячейки */
}

/* Стили для элементов ввода, выбора и кнопок внутри форм */
.services input, .services select, .services button {
    width: 100%; /* Ширина элементов на всю доступную ширину */
    padding: 10px; /* Внутренний отступ для лучшего взаимодействия */
    box-sizing: border-box; /* Размеры включают padding и border */
}

/* Стили для кнопок в блоке услуг */
.services button {
    font-size: 16px;
    background-color: gold; /* Фоновый цвет кнопок золотой */
    color: black; /* Цвет текста черный */
    border: none; /* Без рамки для более чистого вида */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}

/* Стили для кнопок при наведении */
.services .link-as-button {
    font-size: 16px;
    position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного предка */
    bottom: 8px; /* Прикрепляет кнопку к нижней части */
    left: 8px; /* Выравнивает кнопку по левому краю */
    right: 8px; /* Выравнивает кнопку по правому краю */
    height: 35px; /* Высота кнопки */
    width: auto; /* Ширина в зависимости от содержимого */
    background-color: gold; /* Цвет фона */
    color: black; /* Цвет текста */
    text-align: center; /* Центрирование текста внутри кнопки */
    line-height: 35px; /* Высота строки текста */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.services .link-as-button:hover, button:hover {
    background-color: #d4af37; /* Темно-золотой цвет при наведении */
}

/* Стили для сообщений об ошибках */
.services p[style*="color: red;"] {
    font-weight: bold; /* Жирный шрифт для сообщений */
    color: #ff0000; /* Цвет текста ярко-красный */
}

/* Стили для центрированной формы с таблицей на странице регистрации */
.signup-container {
    display: flex; /* Использование flexbox для выравнивания */
    flex-direction: column; /* Элементы расположены вертикально */
    justify-content: center; /* Центрирование элементов по вертикали */
    align-items: center; /* Центрирование элементов по горизонтали */
    width: 100%; /* Ширина контейнера на всю доступную ширину */
}

/* Стили для заголовков в контейнере регистрации */
.signup-container h2 {
    margin-bottom: 20px; /* Отступ снизу для разделения заголовка и формы */
}

/* Стили для таблицы в форме регистрации */
.signup-container table {
    border-collapse: collapse; /* Стиль границы, границы ячеек объединены */
    margin: auto; /* Центрирование таблицы */
    width: 100%; /* Ширина таблицы на всю доступную ширину */
}

/* Стили для ячеек в таблице регистрации */
.signup-container td {
    padding: 8px; /* Внутренние отступы в ячейках */
    text-align: left; /* Выравнивание текста по левому краю */
}

/* Стили для первой ячейки в строках таблицы регистрации */
.signup-container td:first-child {
    text-align: right; /* Выравнивание текста по правому краю */
    padding-right: 20px; /* Отступ справа */
}

/* Стили для кнопок регистрации */
.signup-container .register-button {
    width: 100%; /* Ширина кнопки на всю доступную ширину */
    padding: 10px 0; /* Вертикальный внутренний отступ для удобства нажатия */
}

/* Стили для контейнера страницы входа */
.login-container {
    display: flex; /* Использование flexbox для выравнивания */
    flex-direction: column; /* Элементы расположены вертикально */
    justify-content: center; /* Центрирование элементов по вертикали */
    align-items: center; /* Центрирование элементов по горизонтали */
}

/* Стили для заголовков на странице входа */
.login-container h2 {
    margin-bottom: 20px; /* Отступ снизу для разделения заголовка и формы */
}

/* Стили для таблицы на странице входа */
.login-container table {
    width: 300px; /* Фиксированная ширина таблицы */
    border-collapse: collapse; /* Стиль границы, границы ячеек объединены */
}

/* Стили для ячеек на странице входа */
.login-container td {
    padding: 8px; /* Внутренние отступы в ячейках */
}

/* Стили для кнопок входа */
.login-container .login-button {
    width: 100%; /* Ширина кнопки на всю доступную ширину */
    padding: 10px 0; /* Вертикальный внутренний отступ для удобства нажатия */
}

/* Основные стили для контейнера профиля пользователя */
.user-profile-container {
    display: flex; /* Использование flexbox для выравнивания */
    flex-direction: column; /* Элементы расположены вертикально */
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: center; /* Центрирование элементов по вертикали */
    width: 100%; /* Ширина контейнера на всю доступную ширину */
    padding: 20px; /* Внутренний отступ */
    color: #ccc; /* Цвет текста светло-серый */
    background-color: #333; /* Цвет фона темно-серый */
}

/* Стили для каждого раздела в профиле пользователя */
.profile-section {
    width: 50%; /* Ширина раздела 50% от ширины контейнера */
    margin: 20px 0; /* Вертикальные отступы для разделения разделов */
    padding: 20px; /* Внутренний отступ */
    background-color: #161618; /* Цвет фона темно-серый */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для элемента */
    display: flex; /* Использование flexbox для выравнивания */
    flex-direction: column; /* Элементы расположены вертикально */
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: center; /* Центрирование элементов по вертикали */
}

/* Стили для строк в разделах профиля */
.profile-row {
    display: flex; /* Использование flexbox для выравнивания */
    justify-content: space-between; /* Распределение элементов с промежутками */
    width: 100%; /* Ширина строки на всю доступную ширину */
    margin-bottom: 10px; /* Отступ снизу для разделения строк */
}

/* Стили для колонок в строках профиля */
.profile-column {
    display: flex; /* Использование flexbox для выравнивания */
    flex-direction: column; /* Элементы расположены вертикально */
    justify-content: center; /* Центрирование элементов по вертикали */
    width: 50%; /* Ширина колонки 50% от ширины строки */
}

/* Стили для ввода данных, кнопок редактирования и сохранения в профиле */
.profile-input, .edit-button, .save-button {
    display: none; /* Элементы изначально скрыты, отображаются через JavaScript */
}

/* Секция профиля: кнопки и поля ввода */
.profile-section button, .profile-input, input[type="email"], input[type="text"], input[type="password"] {
    border: 0px;
    width: auto; /* Автоматическая ширина в зависимости от содержимого */
    padding: 10px; /* Отступы вокруг текста */
    background-color: gold; /* Золотой фон */
    color: #333; /* Цвет текста темно-серый */
}

/* Изменение фона кнопок при наведении */
.profile-section button:hover {
    background-color: #d4af37; /* Темно-золотой фон при наведении */
}

/* Стилизация кнопок и полей ввода */
.edit-button, .save-button, .profile-button, input[type="email"], input[type="text"], input[type="password"] {
    background-color: #fff; /* Белый фон */
    color: #333; /* Цвет текста темно-серый */
    border: none; /* Без границ */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Плавное изменение фона */
}

.profile-section button{
    font-size: 16px;
}
/* Изменение фона при наведении на кнопки и поля ввода */
.edit-button:hover, .save-button:hover, .profile-button:hover, input[type="email"]:hover, input[type="text"]:hover, input[type="password"]:hover {
    background-color: #d4af37; /* Темно-золотой фон при наведении */
}

/* Расположение кнопок в строке */
.profile-button-row {
    display: flex; /* Элементы в строке */
    justify-content: center; /* Центрирование по горизонтали */
    width: 100%; /* Ширина 100% */
    margin: 10px 0; /* Отступ сверху и снизу */
}

/* Стилизация ссылок как кнопок */
.profile-button-row .link-as-button, .profile-button-row .delete-profile-button {
    display: inline-block; /* Элементы в линию */
    font-size: 16px;
    width: 50%; /* Ширина 50% от контейнера */
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    text-align: center; /* Текст по центру */
    padding: 10px 0px; /* Отступы вокруг текста */
    text-decoration: none; /* Без подчеркивания текста */
    transition: background-color 0.3s; /* Плавное изменение фона */
}

/* Изменение фона ссылки при наведении */
.profile-button-row .link-as-button:hover {
    background-color: #0056b3; /* Темно-синий фон при наведении */
}

/* Красный фон для кнопки удаления профиля */
.profile-button-row .delete-profile-button {
    background-color: #ff0000; /* Красный фон */
}

/* Темно-красный фон при наведении на кнопку удаления */
.profile-button-row .delete-profile-button:hover {
    background-color: #8b0000; /* Темно-красный фон при наведении */
}

/* Базовый блок для истории заказов */
.order-history {
    width: 50%; /* Ширина 50% */
    margin: auto; /* Центрирование */
}

/* Заголовок в блоке истории заказов */
.order-history__header {
    text-align: center; /* Текст по центру */
}

/* Контейнер для таблицы в блоке истории заказов */
.order-history__table-container {
    margin: 20px; /* Отступы вокруг контейнера */
    background-color: transparent; /* Прозрачный фон */
}

/* Стилизация таблицы в блоке истории заказов */
.order-history__table {
    width: 80%; /* Ширина 80% */
    margin-left: auto; /* Отступ слева автоматический */
    margin-right: auto; /* Отступ справа автоматический */
    border-collapse: collapse; /* Убрать промежутки между ячейками */
}

/* Заголовки столбцов в таблице */
.order-history__column-header {
    padding: 10px; /* Отступы вокруг текста */
    text-align: center; /* Текст по центру */
}

/* Строки и ячейки в таблице */
.order-history__row {}
.order-history__cell {
    height: 30px; /* Высота ячейки 30px */
    padding: 3px; /* Отступы вокруг текста */
    border: 1px solid #ddd; /* Граница светло-серого цвета */
}

/* Контейнер для ссылок действий */
.order-history__actions-container {
    display: flex; /* Элементы в строке */
    width: 100%; /* Ширина 100% */
}

/* Стилизация ссылок в ячейках таблицы */
.order-history__link {
    flex: 1; /* Заполнить доступное пространство */
    text-align: center; /* Текст по центру */
    padding: 8px 12px; /* Отступы вокруг текста */
    color: white; /* Белый текст */
    text-decoration: none; /* Без подчеркивания текста */
    display: inline-block; /* Элементы в линию */
}

/* Стилизация ссылки "Оставить отзыв" */
.order-history__link--review {
    position: relative; /* Относительное позиционирование для правильного выравнивания внутри ячейки таблицы */
    display: inline-block; /* Отображение в виде блока для правильного размера */
    padding: 8px 12px; /* Отступы вокруг текста */
    background-color: gold; /* Золотой цвет фона */
    color: black; /* Черный цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Без подчеркивания */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор в виде указателя при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.order-history__link--review:hover {
    background-color: #d4af37; /* Темно-золотой цвет при наведении */
}

/* Модификатор для ссылки редактирования */
.order-history__link--edit {
    background-color: #007bff; /* Синий фон */
}
.order-history__link--edit:hover{
    background-color: #0056b3; /* Темно-синий фон при наведении */
}

/* Модификатор для ссылки удаления */
.order-history__link--delete {
    background-color: #ff0000; /* Красный фон */
}
.order-history__link--delete:hover{
    background-color: #8b0000; /* Темно-красный фон при наведении */
}

/* Блок обновления бронирования пользователя */
.user-booking-update {
    width: 50%; /* Ширина 50% */
    margin: 0 auto; /* Центрирование */
    padding: 20px; /* Отступы вокруг блока */
    background-color: transparent; /* Прозрачный фон */
}

/* Заголовок в блоке обновления бронирования */
.user-booking-update h1 {
    color: #ccc; /* Цвет текста светло-серый */
    text-align: center; /* Текст по центру */
}

/* Форма в блоке обновления бронирования */
.user-booking-update .form-inline {
    display: flex; /* Элементы в строке */
    flex-direction: row; /* Элементы ориентированы горизонтально */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    gap: 10px; /* Расстояние между элементами */
}

/* Выпадающие списки в форме */
.user-booking-update form select {
    width: 150px; /* Фиксированная ширина */
    padding: 10px; /* Отступы для удобства клика */
    text-overflow: ellipsis; /* Текст не выходит за границы */
}

/* Кнопка в форме */
.user-booking-update .form-button {
    font-size: 16px;
    display: block;
    width: 200px; /* Фиксированная ширина */
    height: calc(2 * 40px); /* Высота в два раза больше стандартной высоты поля */
    background-color: #ffdd57; /* Желтый фон */
    color: black; /* Черный текст для контраста */
}

 /* Стили для контейнера отзывов */
.reviews-container {
    width: 50%; /* Ширина контейнера */
    margin: 20px auto; /* Центрирование контейнера с вертикальными отступами */
    text-align: center; /* Выравнивание текста по центру */
    background-color: #333; /* Темно-серый фон */
    color: #ccc; /* Светло-серый цвет текста */
    padding: 20px; /* Внутренние отступы */
}

/* Стили для таблицы в контейнере отзывов */
.reviews-container table {
    width: 100%; /* Ширина таблицы на всю доступную ширину контейнера */
    margin: auto; /* Автоматическое центрирование таблицы */
    border-collapse: collapse; /* Убираем промежутки между ячейками */
    border: 2px solid gold; /* Золотая граница вокруг таблицы */
}

/* Стили для заголовков ячеек в таблице отзывов */
.reviews-container th {
    text-align: center; /* Выравнивание текста заголовков по центру */
    border-bottom: 1px solid gold; /* Золотая граница снизу заголовков */
    padding: 10px; /* Внутренние отступы для заголовков */
    background-color: #161618; /* Темно-серый фон для заголовков */
    color: gold; /* Золотой цвет текста для заголовков */
}

/* Стили для ячеек в таблице отзывов */
.reviews-container td {
    padding: 8px; /* Внутренние отступы в ячейках */
    text-align: center; /* Выравнивание текста в ячейках по центру */
    border: 1px solid gold; /* Золотая граница вокруг каждой ячейки */
    background-color: #222; /* Темно-серый фон для ячеек */
}

/* Стили для заголовка в контейнере отзывов */
.reviews-container h1 {
    margin-bottom: 20px; /* Отступ снизу для разделения заголовка и таблицы */
    color: gold; /* Золотой цвет текста для заголовка */
}

/* Стили для сообщения, когда отзывов нет */
.reviews-container h3 {
    color: #ff0000; /* Ярко-красный цвет текста для сообщения об отсутствии отзывов */
}