{% extends 'base.html' %}

{% block title %}
Welcome to Beauty Saloon
{% endblock %}

{% block content %}
<div class="header-content">
    <h1>Добро пожаловать в Beauty Saloon</h1>
    <p>Откройте для себя наши мировоклассные услуги и процедуры по уходу за красотой, адаптированные именно под вас. Почувствуйте разницу с нашими квалифицированными специалистами и передовыми устройствами.</p>
    <div>
        <h2>Избранные услуги</h2>
        <ul>
            <li>Люкс-фациальные процедуры</li>
            <li>Терапевтические сеансы массажа</li>
            <li>Профессиональное парикмахерское обслуживание</li>
        </ul>
    </div>
</div>
{% endblock %}
