{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <table class="services">
        {% for service, provider_form, date_time_form, error_message, current_data in forms_list %}
        <tr>
            <td>
                <h2>{{ service.name }}</h2>
                <p>{{ service.description }}</p>
                <p>Duration: {{ service.duration }}</p>
                <p>Price: {{ service.price }}</p>
            </td>
            <td>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="service_id" value="{{ service.id }}">
                    {{ provider_form.as_p }}
                    {{ date_time_form.as_p }}
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                    {% endif %}
                    <button type="submit">Book</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<!-- TODO DELETE IF NOT NEEDED
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('#service_provider').forEach(providerSelect => {
            providerSelect.addEventListener('change', function() {
                var providerId = this.value;
                var serviceId = this.closest('form').querySelector('input[name="service_id"]').value;
                var dateTimeForm = document.getElementById('date_time_form_' + serviceId);
                fetch(`/ajax/get_available_times/?provider_id=${providerId}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(response => response.json())
                .then(data => {
                    dateTimeForm.style.display = 'block';
                    updateDateTimeFormFields(data, serviceId);
                }).catch(error => console.error('Error:', error));
            });
        });
    });

    function updateDateTimeFormFields(data, serviceId) {
        const fields = ['month', 'day', 'hour']; // Updated fields array
        fields.forEach(field => {
            const selectElement = document.getElementById('id_' + field + '_' + serviceId);
            if (!selectElement) {
                console.error(`Select element not found for ${field} and service ID ${serviceId}`);
                return;
            }
            selectElement.innerHTML = ''; // Clear existing options
            data[field + 's'].forEach(option => {
                const optionElement = document.createElement('option');
                optionElement.value = option;
                optionElement.text = option;
                selectElement.appendChild(optionElement);
            });
        });
    }
</script>
-->
{% endblock %}
